.sidebar {
  width: 230px;
  float: right;

  &-title {
    font-size: 16px;
    background: #f2f2f2;
    padding: 5px 0 5px 14px;
    border-left: 4px solid #ddd;
    font-weight: 500;
  }

  li {
    display: table;
    border-bottom: 1px solid $color-main;
    width: 100%;
    text-align: left;


    &::after {
      display: table-cell;
      vertical-align: middle;
      content: "\EA05";
      font-family: "symbols";
      // padding-right: 10px;
      color: $color-bland;
      width: 5px;
    }

    a{
      padding: 20px 0;
      color: $color-text;
      display: block;
    }
  }

  section {
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
