.siteFooter {
  background: $color-base;
  padding: 20px;
  color : #555;
  border-top: 1px solid #ddd;
  text-align: center;

  a {
    color: #555;
  }
}

@media only screen and (max-width: 768px) {
  .siteFooter {
    padding: 20px 15px;
  }
}
