.siteSection {
  margin: 0 auto;
  background: $color-base;

  &-inner {
    width: 100%;
    background: $color-base;
    padding: 60px 0;
    overflow: auto;

    &:nth-child(even){
        background-color: $color-main;
    }
  }

  &-innerWrap {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
  }

  &-wrapper {
      width: 1040px;
      margin: 0 auto;
      padding: 60px 0;
      overflow: hidden;;

      &-narrow {
        width: 770px;
      }
  }

  &-titleWrap {
    margin-bottom: 30px;
    text-align: center;
  }

  &-title {
   font-size: 1.728rem;
  }

  &-read {
   font-size: 0.833rem;
   color: #999;
   font-family: 'Montserrat';
   margin-top: 10px;
  }

  &-content {
    width: 770px;
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .siteSection {
    width: 100%;

    &-inner {
    width: 100%;
    }

    &-wrapper {
      width: 100%;
      padding: 40px 20px;

    }
    &-content {
      width: 100%;
    }
  }
}
