.article{

  &-titleBlock {
    text-align: left;;
    z-index: 99999;
  }

  &-title {
    font-size: 28px;

  }

  &-time {
    color: $color-text-thin;
    font-size: 12px;
  }

  .marker{
    background: linear-gradient(transparent 65%, #B3E5FC 0%);
    display: inline;
    padding: 0 2px 3px;
  }

  h2,h3,h4 {
    margin-bottom: 1em;
    line-height: 2.0;
    font-weight: 600;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;

    &::after {
      border-bottom: 3px solid #eee;
      content: "";
    }

  }

  h3 {
    font-size: 17px;
    border-left: 3px solid #1a1a1a;
    padding: 5px 10px;
    background: #f2f2f2;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 14px;
    margin-bottom:0.6em;

  }

  p {
    line-height: 2.0;
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
