input,
textarea {
  outline: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #666;
  display: block;
  -webkit-appearance: none;
}

textarea {
  height: 200px;
}

input {
  display: block;
  padding: 10px;

  &::placeholder{
    color: #ddd;
  }
}

label {
  font-weight: 500;
}


input[type="submit"]{
  border: none;
  font-size: 1em;
  width: 160px;
  height: 44px;
  color: #fff;
  background: $color_bland;
  background: linear-gradient(#333, #1a1a1a);
  display: inline-block;

}

button {
  padding: 0;
}
