.keyVisual {
  height: 300px;
  background: #f2f2f2;

  &-gray {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(242, 242, 242, 1), rgba(242, 242, 242, 0),rgba(242, 242, 242, 0), rgba(242, 242, 242, 1));
    padding-top: 60px;
    display: flex;
    align-items: center;  /* 子要素をflexboxにより中央に配置する */

    &-catePage{
      margin: 0 auto;
    }

  }

  &-vs {
    width: 1040px;
    margin: 0 auto;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

  &-white {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    position: absolute;
    z-index: 999;

  }

  &-wrapper {
    // color: #444;

  }

  &-title {
    font-size: 28px;
  }

  &-text {
    font-size: 18px;
  }

  img {
      // min-width: 100%;
      // min-height: 100%;
      position: absolute;
      width: 100%;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
  }
}

@media only screen and (max-width: 768px) {
  .keyVisual {
    padding: 0 20px;

    &-vs {
      width: 100%;
    }

    &-wrap {
      margin: 0 15px;
    }

    img {
      height: 100%;
      width: auto;

    }

  }
}
