.pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding-top: 1px;
    text-decoration:none;
    width:40px;
    height:40px;
    color: $color-text;
    border: 1px solid $color-bland;
    border-radius: 4px;
    font-family: "symbols";

  }

  span {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  li {
    margin: 0 10px;
    display: inline-block;
    // font-family: Fontawesome;
    // font-size: inherit;
    // text-rendering: auto;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }

  .current{
    a {
      color: $color-main;
      background-color: $color-bland;
      cursor: default;
      pointer-events: none;
    }
  }
  .first a::before {
    content: "\EA02";
  }
  .last a::after {

    content: "\EA03";
  }
  .previous a::before {

    content: "\EA02";
  }
  .next a::after {

    content: "\EA03";
  }
}

// @media only screen and ( max-width: 768px ) {
//   .pagination {
//     .first,
//     .last {
//       position: absolute;
//       top: -9999px;
//       left: -9999px;
//     }
//   }
// }

@media only screen and ( max-width: 500px ) {
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li.current,
  .pagination li.first,
  .pagination li.last,
  .pagination li.previous,
  .pagination li.next{
    position: initial;
    top: initial;
    left: initial;
  }

  .pagination li.previous a { border-left-width: 0; }
}
