.search {
  height: 44px;
  width: 100%;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 4px;


  &-field{
    width: 90%;
    border: none;
    float:left;
    background: #fff;
    height: 100%;
    padding-left: 10px;
    color: #666;

    &:focus {
      outline: 0;
    }
  }

  &-submit {
    font-size: 24px;
    width: 44px;
    border: none;
    background: none;
    float:right;
    height: 100%;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    right: 0;


    &::after {
      content: "\EA08";
      font-family: "symbols";
      color: #78909C;
      display: block;
    }

  }

}

input.custom::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 600;
}
input.custom:-ms-input-placeholder {
  color: #aaa;
  font-weight: 600;
}
input.custom::-moz-placeholder {
  color: #aaa;
  font-weight: 600;
}
