.spNavi {
    position: fixed;
    z-index: 9999;
    width: 70%;
    height: 100%;
    text-align: center;
    transform: translateX(-800px);
    height: 100%;
    background: #fff;

    ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        padding: 0 20px;
    }

    li {
        float: none;
        position: static;
        text-align: left;
        display: table;
        width: 100%;
        border-bottom: 1px solid $color-main;
        font-weight: 400;


        &::after {
          display: table-cell;
          vertical-align: middle;
          content: "\EA05";
          font-family: "symbols";
          color: $color-bland;
          width: 5px;
        }

         a {
            padding: 0;
            color: $color-text;
            display: block;
            padding: 20px 0;
            font-size: 13px;

        }
    }


}



@media only screen and (min-width: 769px) {
  .spNavi {
    display: none;
      &-shadow {
        display: none;

      }

  }

}
