button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
   border:1px solid #78909C;
	// border-radius: 3px;
	background: #78909C;
	color: $white;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
