body,
button,
input,
select,
textarea {
	color: $gray;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;

  a {
    color: $teal;

    &:hover {
      opacity: .7;
    }
  }
}

@import "headings";

@import "copy";

.widget-title {
  font-weight: 500;
}