.articleList {
  display: table;
  margin: 0 auto;
  height: auto;
  vertical-align: middle;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  letter-spacing: 0.05em;

  li {
    display: inline-table;
    margin: 20px;
    width: 320px;
    min-height: 200px;
    text-align: left;
  }

  &-image {
    background: #eee;
    height: 180px;
    width: 320px;
    border-radius: 4px;

  }

  &-title {
    line-height: 2;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    a {
      color :#424242;
    }
  }

  &-time {
    color : #9E9E9E;
    font-size: 12px;
  }


}

@media screen and (max-width: 480px) {
  .articleList {
    li {
      margin: 25px 0;
    }
  }
}
