.article{

  &-title {
    font-size: 2.827em;
    border-bottom: 4px solid #eee;
    padding-bottom:15px;
    margin-bottom:30px;
  }

  &-content {
    width: 770px;
    float: left;
    line-height:2.0;
  }
}
