.articleList {
  display: table;
  margin: 0 auto;
  height: auto;
  vertical-align: middle;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  letter-spacing: 0.05em;

  li {
    display: inline-table;
    position: relative;
    top: 0;
    left: 0;
    margin: 25px;
    width: 300px;
    height: auto;
    min-height: 200px;
    background: 0 0;
    border-radius: 5px;
    z-index: 0;
    text-align: left;
  }

  &-image {

    img {
      vertical-align: bottom;
      border-radius: 4px;
    }
  }

  &-title {
    line-height: 2;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    a {
      color :#424242;
    }
  }

  &-time {
    color : #9E9E9E;
    font-size: 12px;
  }


}

@media screen and (max-width: 480px) {
  .articleList {
    li {
      margin: 25px 0;
    }
  }
}
