.articleList {
  display: table;
  font-size: 0;
  text-align: center;

  // margin: 0 auto;
  // height: auto;
  // vertical-align: middle;
  // border: 0;
  // box-sizing: border-box;
  // letter-spacing: 0.05em;

  li {
    display: inline-table;
    // position: relative;
    // top: 0;
    // left: 0;
    margin: 20px;
    width: 320px;
    // height: auto;
    // min-height: 200px;
    // background: 0 0;
    // z-index: 0;
    text-align: left;
  }

  &-image {
    background: #eee 100%;
    height: 180px;
    width: 320px;
    background-size: cover;
    border-radius: 4px;
  }

  a {
    display: block;
  }
    // img {
    //   vertical-align: bottom;
    //   border-radius: 4px;
    // }

  &-title {
    line-height: 2;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #666;
  }

  &-time {
    color : #9E9E9E;
    font-size: 12px;
  }


}

@media screen and (max-width: 320px) {
  .articleList {
    li {
      margin: 25px 10px;
    }
  }
}
