.article{

  &-titleBlock {
    background: rgba(51, 51, 51, .8);
    display: block;
    color: #fff;
    padding: 30px;
    position: absolute;
    z-index: 9999;
    bottom: 100px;

    a {
      color: #fff;
    }

  }

  &-title {
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 500;
  }

  .marker{
    background: linear-gradient(transparent 65%, #FFC093 0%);
    display: inline;
    padding: 0 2px 3px;
  }

  h2 {
    font-size: 1.953em;
    margin-bottom:0.4em;
    background: #eee;
    padding: 8px 0 8px 20px;
    border-left: 4px solid #455A64;
    font-weight: 500;

  }

  h3 {
    font-size: 1.563em;
    margin-bottom:0.5em;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25em;
    margin-bottom:0.6em;
    font-weight: 500;

  }

  h5 {
    font-size: 1em;
    margin-bottom:0.7em;
    font-weight: 600;
  }

  h1,h2,h3,h4,h5 {
    margin-bottom: 1em;
    line-height: 2.0;
  }
  p {
    line-height: 2.0;
    margin-bottom: 40px;
  }
}
