.button {
  padding: 12px 60px;
  color: white;
  background: #78909C;
  border-radius: 4px;
  display: inline-block;

  a {
    line-height: 20px;
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
