.button {
  padding: 12px 40px;
  color: $white;
  background: #999;
  display: inline-block;
  letter-spacing: 1em;
  text-indent:1em;

  a {
    line-height: 20px;
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
