.button {
  padding: 12px 60px;
  color: white;
  background: $black;
  display: inline-block;
  letter-spacing: 1em;

  a {
    line-height: 20px;
  }

  &-wrapper {
    text-align: center;
    margin-top:25px;
  }
}
