.articleComment {
  background: $whiteGray;
  padding: 40px;
  margin-top: 60px

  &-list {
    border-bottom: 1px solid #ddd;

  }

  li {
    background: $white;
    padding:40px;
    margin-bottom: 40px;
  }

  p {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .articleComment{
    padding: 20px;
    margin-bottom: 40px;
  }
}
