.hero {
    background: linear-gradient(-135deg, #eee, #ccc);
    width: 100%;
    color: #333;
    vertical-align: bottom;

    &-wrapper {
        width: 1000px;
        margin: 0 auto;
        height: 610px;
        display: table;

    }

    &-image {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }


    &-title {
        position: absolute;

        h1{
            margin-bottom: 20px;
        }

        p {
            letter-spacing: 0.5em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {

        &-wrapper {
            width: 100%;
            height: auto;
        }

        &-visual,
        &-title {
            width: 100%;
            height: auto;
            text-align: center;
            float: none;
            display: block;

            h1{
                margin-bottom: 20px;
            }

            p {
                letter-spacing: 0.5em;
            }
        }

    }
}