.hero {
  padding: 100px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  // background :url(images/noImage.svg);
  background: $black;
  background-size: cover;
  background-attachment: fixed;

  &-title {
    color: $white;
    width: 1080px;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: .5em;
  }

  img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      width: auto;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    &-title {
      width: auto;
      margin: 0 15px;
    }

    img {
      height: 100%;
    }

  }
}
