.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding-top: 1px;
    text-decoration:none;
    background: #eee;
    width:40px;
    height:40px;
    color: #424242;
  }

  span {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  li {
    margin: 0 10px;
    display: inline-block;
    font-family: Fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }

  .current{
    a {
      background-color: #ddd;
      cursor: default;
      pointer-events: none;
    }
  }
  .first a::before { content: "\f100"; }
  .last a::after { content: "\f101"; }
  .previous a::before { content: "\f104"; }
  .next a::after { content: "\f105"; }
}
