.sidebar {
  width: 230px;
  float: right;

  &-title {
    margin-bottom:1em;
  }

  li {
    margin-bottom:1em;
  }

}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
