.sidebar {
  width: 230px;
  float: right;

  &-title {
    background: $blueGray-50;
    border-left: 4px solid $blueGray-400;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

  }

  li {
    padding: 20px 0;
    display: table;
    border-bottom :1px solid #eee;
    width: 100%;
    text-align: left;


    &::after {
      display: table-cell;
      vertical-align: middle;
      content: "\f105";
      font-family: Fontawesome;
      padding-right: 10px;
      color: #78909C;
      width: 5px;
    }

    a{
      color: $darkGray;
    }
  }

}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
