.siteFooter {
  background: $blueGray-50 ;
  padding: 20px;
  color : $blueGray-600;
  // border-top: solid 1px $blueGray-100;

  a {
    color: $blueGray-600;
  }
}

@media only screen and (max-width: 768px) {
  .siteFooter {
    padding: 20px 15px;
  }
}
