// .siteHeader {
//     position: fixed;
//     width: 100%;
//     height: 60px;
//     z-index: 9999;
//     background :$color__whiteBlue;

//      &-Inner {
//         margin: 0 auto;
//         width: 1000px;
//      }

//     &-branding {
//         float: left;
//     }

//     &-title{
//       font-size:20px;
//       line-height: 60px;
//       display: inline-block;
//     }

//     &-icon {
//       line-height: 60px;
//       display: inline-block;
//     }
// }

.Header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 9999;
    width: 100%;
    top:0;
    transition: 1s ease-in-out;

    &-Inner {
        margin: 0 auto;
        width: 1000px;
        position: relative;
    }

    &-Title,
    &-Text {
        color: #333;
        transition: 1s ease-in-out;
    }

    &-SpMenu {
        background: #333;
    }

    &-Bg {
        background: #eee;
        transition: 1s ease-in-out;

        .Header-Title,
        .Header-Text {
            color: #fff;
            transition: 1s ease-in-out;
        }

        .Header-SpMenu {
            background: #fff;;
        }
    }
}

@media only screen and (max-width: 768px) {
  .Header, .Header-Inner {
    width: 100%;
  }
  .Header{

    &-Text {
        color: #fff;;
    }

  }

}


