
.siteHeader {
    position: fixed;
    width: 100%;
    padding: 20px 20px;
    z-index: 9999;
    width: 100%;
    top:0;
    transition: 1s ease-in-out;
    background: $blueGray;

    &-inner {
        position: relative;
        overflow: hidden;
    }

    &-branding {
        width: auto;
        float: left;
    }

    &-title {
        color: #333;
        font-size: 16px;
        transition: 1s ease-in-out;
        line-height: 20px;

        a{
            color: $white;
        }
    }

    &-text {
        display:none;
    }

    &-spMenu {
        background-color: $white;
    }

    &-navi {
        a {
            color: $white;
            font-weight: 500;
        }
    }

    // &-Bg {
    //     background-color: $whiteBlue;
    //     transition: 1s ease-in-out;

    //        .Header-Navi {
    //             a {
    //             color: $gray;
    //             font-weight: 500;
    //         }
    // }

    //     .Header-Title {

    //         a{
    //             color: $gray;
    //             transition: 1s ease-in-out;
    //         }
    //     }

    //     .Header-SpMenu {
    //         background-color: $gray;
    //     }
    // }
}

@media only screen and (max-width: 768px) {
    .siteHeader {
        padding: 20px 15px;

        &-title {
            text-align: center;
        }

    }

    .siteHeader{

    &-navi {
        a {
            color: $white ;
        }
    }

        // &-Bg {
        //     .Header-Navi {
        //         a {
        //             color: $white ;
        //         }
        //     }

        // }

    }

}
