.siteFooter {
  background: $white ;
  padding: 20px;
  color : $blueGray-600;
  border-top: 1px solid #ddd;

  a {
    color: $blueGray-600;
  }
}

@media only screen and (max-width: 768px) {
  .siteFooter {
    padding: 20px 15px;
  }
}
